body {
	padding: 0;
	margin: 0;
}
.asideSlider {
	max-width:400px;
	min-height: 420px;
	margin: 10px auto;
	position: relative;
}
aside {
	position: relative;
	
}
	.asideSlider-container {
		display: none;
		position: absolute;
		
	}
	.asideSlider-container.active {
		display: block;
	}
	.asideSlider-nav {
		padding: 0;
		text-align: center;
		position: absolute;
		bottom: 0;
	}
		.asideSlider-nav li {
			display: inline-block;
		}
			.asideSlider-nav li a {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: darkgray;
			}
			.asideSlider-nav li.active a {
				background: blue;
			}